<ion-view view-title="{{test.name}}">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon nav-assertive"
        ng-click="resulting(test.questions)">
        <i class="ion-checkmark-round"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">

            <div ng-repeat="question in test.questions"
            ng-init="index = $index;">
                <div class="item item-divider">
                    {{$index + 1}}. {{question.title}}
                </div>
                    <ion-radio ng-repeat="(key, value) in question.answers"
                    name="'{{index + key }}'"
                    ng-value="'{{key}}'"
                    ng-model="question.result">
                    {{key}}. {{value}}
                    </ion-radio>
            </div>

        </div>
    </ion-content>
</ion-view>
